{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    <div>
        <form method="post" action="{% url 'admin:myapp_subscribe_send_email_to_subscribers' %}">
            {% csrf_token %}
            <label for="email_subject">Email Subject:</label>
            <input type="text" name="email_subject" id="email_subject"><br>
            <label for="email_message">Email Message:</label><br>
            <textarea name="email_message" id="email_message" rows="5" cols="50"></textarea><br>
            <input type="submit" value="Send Email">
        </form>
    </div>
    {{ block.super }}
{% endblock %}
